/* Custom Font Define */
@font-face {
  font-family: Museo;
  src: url(Museo300-Regular.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body.hidden-scrolling {
  overflow-y: hidden;
}

a:hover {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
section {
  padding: 4rem 0;
}
/* owl carousel re-set */

.owl-carousel .owl-nav .owl-prev:focus,
.owl-carousel .owl-nav .owl-next:focus {
  outline: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  outline: none;
}
/* Top Wrap */
#top_wrap {
  background-color: #0297d8;
  color: #fff;
  padding: 4px;
  /* border-bottom: 5px solid #0297BC; */
}
#top_wrap .top_wrap_left {
  display: flex;
}
#top_wrap .top_wrap_left .address {
  padding-left: 18px;
}
#top_wrap .top_wrap_right {
  text-align: right;
}
#top_wrap .top_wrap_right a {
  padding: 2px;
  color: #eee;
}

#top_wrap .top_wrap_right a:hover {
  padding: 2px;
  color: #eee;
}

@media (max-width: 800px) {
  #top_wrap .top_wrap_left {
    display: flex;
    flex-direction: column;
  }
  #top_wrap .top_wrap_left .address {
    padding-left: 0px;
  }
  #top_wrap .top_wrap_right {
    text-align: left;
  }
}
/*header*/
.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  /* padding: 5px; */
  background-color: #fff;
}
.header-main {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 4px;
}
.header .logo {
  padding: 0 15px;
}
.header .logo a {
  font-size: 30px;
  text-transform: capitalize;
  color: #0297d8;
  font-weight: 600;
}
.header .logo a img {
  width: 110px;
}
.header .nav-menu {
  padding: 0 15px;
}
.header .menu > .menu-item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
.header .menu > .menu-item > a {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  margin-left: 5px;
  pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  background-color: #000000;
  height: 2px;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after {
  background-color: #0297d8;
}
.header .menu > .menu-item > a .plus:after {
  transform: translate(-50%, -50%) rotate(-90deg);
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a {
  color: #0297d8;
}
.header .menu > .menu-item > .sub-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  border-top: 3px solid #0297d8;
  transform: translateY(10px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 992px) {
  .header .menu > .menu-item-has-children:hover > .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .header .menu > .menu-item-has-children:hover > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.header .menu > .menu-item > .sub-menu > .menu-item {
  display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.header .open-nav-menu {
  height: 34px;
  width: 40px;
  margin-right: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .open-nav-menu span {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #000000;
  position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  box-sizing: border-box;
}
.header .open-nav-menu span:before {
  top: -7px;
}
.header .open-nav-menu span:after {
  top: 7px;
}
.header .close-nav-menu {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 0 15px 15px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .close-nav-menu img {
  width: 16px;
}
.header .menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

/* responsive */

@media (max-width: 991px) {
  .header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
  .header .nav-menu {
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    height: 100%;
    top: 0;
    overflow-y: auto;
    background-color: #222222;
    z-index: 1000;
    padding: 15px 0;
    transition: all 0.5s ease;
  }
  .header .nav-menu.open {
    visibility: visible;
    right: 0px;
  }
  .header .menu > .menu-item {
    display: block;
    margin: 0;
  }
  .header .menu > .menu-item-has-children > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu > .menu-item > a {
    color: #ffffff;
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
  }
  .header .menu > .menu-item:first-child > a {
    border-top: 1px solid #333333;
  }
  .header .menu > .menu-item > a .plus:before,
  .header .menu > .menu-item > a .plus:after {
    background-color: #ffffff;
  }
  .header .menu > .menu-item-has-children.active > a .plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .header .menu > .menu-item > .sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(0px);
    padding: 0px;
    left: auto;
    top: auto;
    max-height: 0;
    overflow: hidden;
  }
  .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 12px 45px;
    color: #ffffff;
    border-bottom: 1px solid #333333;
  }
  .header .close-nav-menu,
  .header .open-nav-menu {
    display: flex;
  }
}

/* Banner Section */

#banner {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #eee;
  /* height: 500px; */
}
/* Banner Image Fix */
.banner .item {
  width: 100%;
  height: 800px;
  min-height: 600px;
  max-height: 800px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: #eee;
}
#banner .item .banner_text {
  color: #eee !important;
}
#banner .item .banner_text .bannder_des {
  color: rgb(204, 201, 201);
  font-size: 0.8rem;
}
#banner .item .banner_text .banner_link {
  margin-top: 2rem;
}
#banner .item .banner_text .banner_link a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #777;
  font-weight: 300;
  padding: 8px 18px;
  border: 1px solid #eee;
}

#banner .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 48%;
  right: -5px;
  padding: 0px 8px !important;
  background: #eee;
  transform: translateY(-47%);
  padding-bottom: 5px !important;
  font-weight: 200;
  font-size: 35px;
  line-height: 20px;
  color: #777;
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  border: 1px solid #eee;
  box-shadow: 0 0 8px rgb(0 0 0 / 25%);
}

#banner .owl-carousel .owl-nav button.owl-next:hover {
  background: #eee;
  color: #262f6b;
}

#banner .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 54%;
  right: -5px;
  padding: 0px 8px !important;
  background: #eee;
  transform: translateY(-55%);
  padding-bottom: 5px !important;
  font-size: 35px;
  line-height: 20px;
  color: #777;
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  border: 1px solid #eee;
  box-shadow: 0 0 8px rgb(0 0 0 / 25%);
}

#banner .owl-carousel .owl-nav button.owl-prev:hover {
  background: #eee;
  color: #262f6b;
}

#banner .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}
#banner .owl-dots {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

#banner .owl-dots button.owl-dot.active span {
  background-color: #fff;
  border: 1px solid #eee;
}
#banner .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #a2a2a2;
  display: block;
  -webkit-backface-visibility: visible;
  transition: all 0.2s ease;
  border-radius: 30px;
}

#banner .owl-arrow .owl-nav .owl-prev,
#banner .owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #000000;
  padding: 10px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
@media (max-width: 800px) {
  .banner .owl-dots {
    display: none !important;
  }
  .banner .owl-carousel .owl-nav button.owl-next {
    right: 2% !important;
  }
}

/* Home SEction  */
#home-section {
  background-color: fff;
}
#home-section h1 {
  margin-bottom: 15px;
}
#home-section img {
  border: 5px solid #eee;
}
#home-section ul {
  margin-left: 25px;
}
#home-section ul li {
  /* list-style-type: disc; */
}
#home-section ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 0.8em;
  margin-left: -1em;
  font-size: 1.2rem;
}

/* Program Section */

/* ::  Programms CSs */
#program-section {
  background-color: #faf220;
  width: 100%;
  display: block;
}
#program-section .title-section {
  text-align: center;
}
#program-section .program {
  margin-top: 30px;
}
.program .program-item {
  margin-top: 40px;
  background-color: rgb(255 255 255);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 10px 10px;
  padding-bottom: 30px;
  z-index: 0;
  transition: all 0.4s ease;
  border: 1px solid #f1f1f1;
  position: relative;
  -webkit-box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
  box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
}

.porgram-item-img {
  margin-top: -25px;
  margin-bottom: 10px;
}
.program-item-content {
  padding: 10px;
}
.program-item-content h4.program-item-title a {
  font-size: 19px;
  color: #0297d8;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.program-item-content h4.program-item-title a:hover {
  color: #012b7d;
}
.program-item-content p {
  padding-top: 8px;
}
.program-read-more-btn {
  border-top: 1px solid rgb(228, 228, 228);
}
a.program-item-read-more {
  color: #7a8a9e;
  display: block;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.program-item-read-more i {
  margin-left: 5px;
}
.program-item-content a.program-item-read-more:hover {
  color: #012b7d;
  margin-left: 5px;
}
/* Owl carousel css */
#program-section button.owl-prev {
  left: -50px;
}
#program-section button.owl-next {
  right: -50px;
}
#program-section button.owl-prev,
#program-section button.owl-next {
  position: absolute;
  top: 40%;
  width: 40px;
  height: 40px;
}
#program-section button.owl-prev span,
#program-section button.owl-next span {
  font-size: 60px;
  padding: 10px;
  color: #777;
}
#program-section button.owl-next:focus,
#program-section button.owl-prev:focus {
  border: transparent !important;
  outline-color: transparent !important;
}
#program-section .owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: #000000;
  text-decoration: none;
}

#program-section .owl-theme .owl-nav [class*="owl-"]:hover {
  text-decoration: none;
  outline-color: transparent !important;
}
#program-section button.owl-next:focus-visible {
  border: transparent;
}
#program-section .owl-carousel .owl-nav button.owl-next,
#program-section .owl-carousel .owl-nav button.owl-prev,
#program-section .owl-carousel button.owl-dot {
  padding: 10px 0px !important;
  outline-color: transparent !important;
  padding-bottom: 5px !important;
  outline: none !important;
  border: none !important;
}
#program-section .owl-theme .owl-dots .owl-dot.active span,
#program-section .owl-theme .owl-dots .owl-dot:hover span {
  background: #0297d8;
}

/* Testimonial */
#testimonial-section {
  background-image: linear-gradient(
      to right,
      rgb(23 61 98/ 70%),
      rgb(23 61 98 / 70%)
    ),
    url("../images/2-Management.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#testimonial-section .title-section {
  color: #eee;
  text-align: center;
}
#testimonial-section .testimonial {
  color: #eee;
  text-align: center;
  margin-top: 50px;
}
#testimonial-section .testimonial img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px;
}
#testimonial-section .testimonial p {
  color: rgb(196, 193, 193);
  text-align: center;
  font-style: italic;
  width: 80%;
  margin: 35px auto;
}
#testimonial-section .testimonial h4 {
  color: rgb(196, 193, 193);
  font-size: 1.2rem;
}
#testimonial-section .testimonial h6 {
  color: rgb(212 206 31);
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 3rem;
}

/* News Section  */
#news-section {
  background-color: #f4f7fa;
}
#news-section .title-section {
  text-align: center;
}

/* Single Blog Grid*/
.single-blog-grid {
  margin-top: 30px;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px #00000013;
  box-shadow: 0px 0px 10px #00000013;
  border-radius: 7px;
  padding: 12px;
  width: 100%;
}

.single-blog-grid .blog-img {
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  width: 100%;
  height: 243px;
}
.single-blog-grid .blog-img img {
  max-width: 100%;
  min-height: 100%;
}

.single-blog-grid .blog-img .date {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #012b7d;
  padding: 10px 17px;
  border-radius: 4px;
  position: absolute;
  left: 20px;
  top: 20px;
  text-align: center;
}

.single-blog-grid .blog-img .date .day {
  font-weight: 500;
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.single-blog-grid .blog-img a {
  width: 100%;
}

.single-blog-grid .blog-img img {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single-blog-grid:hover .blog-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.single-blog-grid .blog-content {
  padding: 30px 20px 18px 20px;
}

.single-blog-grid .blog-content .category {
  font-size: 14px;
  color: #3813c2;
  display: inline-block;
  font-weight: 500;
}

.single-blog-grid .blog-content .category:hover {
  color: #f20487;
}

.single-blog-grid .blog-content h4 {
  display: block;
  margin-top: 7px;
  line-height: 26px;
}

.single-blog-grid .blog-content h4 a {
  font-size: 19px;
  color: #101130;
  display: inline-block;
}

.single-blog-grid .blog-content h4 a:hover {
  color: #3813c2;
}

.single-blog-grid .blog-content p {
  display: block;
  margin-top: 20px;
}

.single-blog-grid .blog-content .more-btn {
  display: inline-block;
  margin-top: 6px;
  color: #888;
  font-weight: 500;
  text-transform: uppercase;
}

.single-blog-grid .blog-content .more-btn:hover {
  color: #3813c2;
  letter-spacing: 1px;
}

.single-blog-grid .blog-content .more-btn i {
  font-size: 20px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: 3px;
}

.blog-list {
  background: #f4f7fa;
}
/* .blog-content .news-read-more{
    border-top: 1px solid #000;
  } */

/* View all News  */
.view-all-news {
  margin-top: 30px;
  text-align: center;
}
.view-all-news a {
  display: block;
  text-decoration: underline;
  letter-spacing: 1.5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .blog-list .pagination {
    margin-top: 20px;
  }
}

.blog-list .single-blog {
  margin: 0;
}

.blog-list .single-blog {
  margin-bottom: 30px;
}

/* footer section css */
footer {
  width: 100%;
  background: #3f3f3f;
  font-size: 12px;
  color: #eee;
  line-height: 26px;
  font-family: Museo;
  font-weight: normal;
  border-top: 8px solid #ccc;
  padding-top: 2rem;
}

/*== Main Footer*/
.main-footer {
  border-bottom: 1px solid #717171;
  padding: 25px 0;
  box-sizing: border-box;
}

h5.widgetheading {
  color: #faf220;
  margin-bottom: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.widget img {
  width: 50%;
}

.widget h3 {
  font-size: 15px;
  color: #faf220;
  margin: 15px 0px;
  /* letter-spacing: -1px; */
  font-weight: 600;
}

.link-list li {
  border-bottom: 1px dotted #a09696;
  line-height: 28px;
}

.link-list li:last-child {
  border-bottom: 1px dotted transparent;
}

.link-list li a {
  font-size: 12px;
  color: #cabdbd;
  font-family: sans-serif;
}

.link-list li a:hover {
  color: #eee;
}

.widget p {
  font-family: sans-serif;
  color: #cabdbd;
}

/* Policy */
#sub-footer {
  /*    margin: 10px 0 25px 0;*/
  padding: 15px 0;
}

.policy ul {
  margin-left: -8px;
}

.policy ul li {
  display: inline-block;
  padding: 0 8px;
}

.policy li a {
  font-size: 12px;
  color: #cabdbd;
  font-family: sans-serif;
}

.copyright {
  font-size: 12px;
  padding: 8px 0;
  text-align: right;
  font-family: sans-serif;
}

.copyright a {
  color: rgb(254 242 15);
}

/* Responsive CSS */
@media all and (max-width: 1170px) {
}

@media all and (max-width: 940px) {
  /*  Footer Section  */
  #top-footer h3 {
    display: block;
  }

  .app-download {
    text-align: left;
  }

  .copyright {
    text-align: left;
  }
}

@media all and (max-width: 728px) {
  .collapse.navbar-collapse {
    background: rgba(37, 60, 128, 0.84);
    padding: 10px;
    z-index: 99999;
  }
  .hero {
    z-index: 100;
  }
  .social-media .gallery {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
  }

  @media all and (max-width: 320px) {
    .collapse.navbar-collapse {
      background: rgba(37, 60, 128, 0.84);
      padding: 10px;
      z-index: 99999;
    }
  }
  /*  Footer Section  */
  ul.navbar-nav.mx-auto {
    background: bisque;
  }

  .student-img {
    position: static;
  }

  #top-footer h3 {
    display: block;
  }

  .app-download {
    text-align: left;
  }

  .copyright {
    text-align: left;
  }
}

/* Bread Crumbs */
.breadcrumbs {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 2;
  text-align: center;
  background-image: url("../images/breadcrum.jpg");
  /* background: #012b7d; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbs {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .breadcrumbs {
    padding-top: 90px;
    padding-bottom: 50px;
  }
}

.breadcrumbs .breadcrumbs-content {
  position: relative;
  text-align: center;
}

.breadcrumbs .breadcrumbs-content .page-title {
  font-size: 38px;
  color: #fff;
  font-weight: 700;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbs .breadcrumbs-content .page-title {
    font-size: 28px;
    line-height: 38px;
  }
}

@media (max-width: 767px) {
  .breadcrumbs .breadcrumbs-content .page-title {
    font-size: 25px;
    line-height: 34px;
  }
}

.breadcrumbs .breadcrumbs-content .breadcrumb-nav {
  background: transparent;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
  display: inline-block;
}

.breadcrumbs .breadcrumb-nav {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbs .breadcrumb-nav {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .breadcrumbs .breadcrumb-nav {
    text-align: center;
    margin-top: 7px;
  }
}

.breadcrumbs .breadcrumb-nav li {
  display: inline-block;
  position: relative;
  padding-right: 14px;
  margin-right: 14px;
  text-transform: capitalize;
  color: #fff;
}

.breadcrumbs .breadcrumb-nav li:after {
  content: "\203A";
  font-family: lineIcons;
  font-size: 24px;
  position: absolute;
  top: -8px;
  right: -7px;
}

.breadcrumbs .breadcrumb-nav li:last-child {
  margin: 0;
  padding: 0;
}

.breadcrumbs .breadcrumb-nav li:last-child::after {
  display: none;
}

.breadcrumbs .breadcrumb-nav li,
.breadcrumbs .breadcrumb-nav li a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.breadcrumbs .breadcrumb-nav li i,
.breadcrumbs .breadcrumb-nav li a i {
  font-size: 13px;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: -1px;
}

.breadcrumbs .breadcrumb-nav li a {
  position: relative;
}

.breadcrumbs .breadcrumb-nav li a:hover {
  color: #e4e4e4;
}

/* Page section  */
.second-page h2.second-title {
  color: #000;
  font-weight: 600;
  border-left: 3px solid #0098da;
  margin-bottom: 35px;
  padding-left: 15px;
}
.second-page ul {
  list-style: square;
  margin-left: 25px;
}
.second-page p {
  color: #777;
}
.second-page ul li {
  color: #777;
}
